.button {
    padding:12px 24px;
    font-weight:600;
    color:white;
    border:none;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.3);
    background-color: var(--clr-primary);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.button:hover, 
.button:focus {
    outline:none;
    filter: brightness(75%);
    -webkit-filter: brightness(80%);
    box-shadow: 6px 6px 10px 10px rgb(0, 0, 0, 0.3);
}