.table-header {
    display:table-header-group;
    background: hsl(212, 31%, 15%);
}

.table-row {
    display:flex;
}

.table-header-item,
.table-cell {
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    justify-content: space-between;
    align-items: center;
    max-width:150px;
    min-width:100px;
    padding-left:24px;
    padding-block: 6px;;
    gap:1rem;
}

.filter-icon {
    display:flex;
    padding: 0;
}

.sort-arrow {
    width:25px;
    fill: var(--clr-grey-1);

}

.sort-arrow-up {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/* .sort-arrow-down {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
} */