.table-header {
    display:table-header-group;
    background: hsl(212, 31%, 19%);
}

.table-row {
    display:flex;
}

.table-header-item {
    width:100%;
    display:flex;
    align-items: center;
    min-width:130px;
    padding-inline:24px;
    padding-block: 6px;;
}

.filter-icon {
    display:flex;
    padding: 0;
}

.sort-arrow {
    width:25px;
    fill: var(--clr-grey-1);

}

.sort-arrow-up {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}