.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:48px;
}

.brand {
    font-size:56px;
    font-weight:700;
}

.nav-link {
    padding:12px 24px;
    font-weight:600;
    color:white;
    background-color: var(--clr-primary);
}

.nav-link:hover {
    filter: brightness(85%);
}